language: scala

jdk:
#  - openjdk6
  - oraclejdk8

sudo: false

env:
  global:
    - JVM_OPTS="-Xms1024m -Xmx1024m -XX:ReservedCodeCacheSize=128m -XX:MaxPermSize=256m"

script:
  - sbt "test"
  - sbt "publishLocal"
  - sbt "it:test"

notifications:
  email:
    - tooling@lightbend.com
