version: ~> 1.0 # needed for imports
import: scala/scala-dev:travis/default.yml

language: scala

env:
  - ADOPTOPENJDK=8
  global:
    - JVM_OPTS="-Xms1024m -Xmx1024m -XX:ReservedCodeCacheSize=128m -XX:MaxPermSize=256m"

script:
  - sbt "^test"
  - sbt "^publishLocal"
  - sbt "it:test"

notifications:
  email:
    - seth.tisue@lightbend.com
